@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;

    transition: all .2s linear;
}

:root{
    --black:#192a56;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

html {
    font-size: 62.5%;
    overflow-x: hidden; 
    scroll-padding-top: 5.5rem; 
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    background-color: white; 
    padding: 1rem 7%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    z-index: 999; 
    box-shadow: var(--box-shadow); 
}

.restaurant-logo {
    object-fit: cover;
    height: 60px; 
    padding-bottom: 0;
    margin-bottom: 0; 
}

header .logo {
    color: black; 
    font-size: 32px; 
    font-weight: bolder;
    transform: translate(0, -5px); 
}

#restaurant-logo2 {
    color: red; 
    font-size: 18px; 
}

header .navbar a{
    font-size: 1.7rem; 
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem; 
    color: black;
}

header .navbar a.active, header .navbar a:hover {
    color: white; 
    background: red; 
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color:#fff;
    background: red;
    transform: rotate(360deg);
}

header .icons #menu-bars {
    display: none; 
}

section {
    padding: 2rem 9%; 
}

section:nth-child(even) {
    background: white; 
}

.home .home-slider .slide {
    display: flex;
    align-items: center; 
    flex-wrap: wrap; 
    gap: 2rem; 
    padding-top: 9rem; 
    padding-bottom: 20px
}

.home .home-slider .slide .image{
    flex: 1 1 45rem; 
}

.home .home-slider .slide .image img {
    width: 100%; 
}

.home .home-slider .slide .content span {
    color: red; 
    font-size: 2.5rem; 
}

.home .home-slider .slide .content h3 {
    color: black; 
    font-size: 5rem; 
}

.home .home-slider .slide .content p {
    color: black;
    font-size: 1.8rem; 
    padding: 0.5rem 0; 
    line-height: 1.5;
}

.specials {
    width: 100%;
    max-width: 800px; 
    height: 500px; 
    object-fit: cover;
}

.btn {
    margin-top: 1rem; 
    display: inline-block; 
    font-size: 1.8rem; 
    color: white; 
    background: navy; 
    border-radius: 0.5rem; 
    cursor: pointer; 
    padding: 0.8rem 3rem;
}

.btn:hover {
    background: rgb(202, 0, 0); 
    letter-spacing: 0.1rem;
}

.swiper-pagination-bullet {
    
    transform: translate(0px, 10px);
}

.swiper-pagination-bullet-active {
    background: red; 
}

.home {
    background-color: rgb(236, 236, 236)
}

#search-form{
    position: fixed;
    top:-110%; left:0; 
    height:100%; width:100%;
    z-index: 1004;
    background:rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
}

#search-form.active{
    top:0;
}

#search-form #search-box{
    width:50rem;
    border-bottom: .1rem solid #fff;
    padding:1rem 0;
    color:#fff;
    font-size: 3rem;
    text-transform: none;
    background:none;
}

#search-form #search-box::placeholder{
    color:#eee;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color:#fff;
    cursor:pointer;
    font-size: 3rem;
}

#search-form label:hover{
    color:var(--green);
}

#search-form #close{
    position: absolute;
    color:#fff;
    cursor: pointer;
    top: 2rem; right:3rem;
    font-size: 5rem;
}

.dishes {
    padding-top: 10rem;
}

.box-container {
    padding-bottom: 20px
}

.dishes .box-container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem; 
}

.dishes .box-container .box {
    padding: 2.5rem; 
    background: #fff; 
    border-radius: 0.5rem; 
    border: 0.1rem solid rgba(0, 0, 0, 0.2); 
    box-shadow: var(--box-shadow); 
    position: relative;
    overflow: hidden; 
    text-align: center; 
}

.dishes .box-container .box .fa-heart, .dishes .box-container .box .fa-eye {
    position: absolute;
    top: 1.5rem; 
    background: #eee;
    border-radius: 50%;
    width: 5rem; 
    height: 5rem; 
    line-height: 5rem; 
    font-size: 2rem; 
    color: black; 
}

.dishes .box-container .box .fa-heart:hover, .dishes .box-container .box .fa-eye:hover {
    background:red; 
    color: white; 
}

.dishes .box-container .box .fa-heart {
    right: -15rem; 
}

.dishes .box-container .box .fa-eye {
    left: -15rem; 
}

.dishes .box-container .box:hover .fa-heart {
    right: 1.8rem; 
}

.dishes .box-container .box:hover .fa-eye {
    left: 1.8rem; 
}

.sub-heading {
    text-align: center; 
    color: rgb(202, 0, 0); 
    font-size: 4.5rem; 
    padding-top: 0.5rem; 
}

.slogan-subheading {
    text-align: center; 
    color: rgb(202, 0, 0); 
    font-size: 3.5rem; 
    padding-top: 0.3rem; 
    padding-bottom: 1rem; 
}

.heading {
    text-align: center; 
    color: black; 
    font-size: 4rem; 
    padding-bottom: 0.8rem; 
    text-transform: uppercase;
}

.appetizers {
    object-fit: cover;
    width: 100%; 
    height: 400px; 
}

.price {
    font-size: 18px; 
}

.name {
    font-size: 18px; 
}

.full-menu {
    margin: auto; 
    width: 15%;
    padding: 5px; 
}

#menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.community {
    padding-top: 9rem; 
}

.photo-box { 
    width: 100%;
    height: 780px; 
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative; 
}

.store-photo {
    width: 100%;
    height: 100%; 
    object-fit: cover;  
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.description {  
    margin-top: 10px;
    padding-top: 10px; 
    color: black; 
    font-size: 3rem;
    text-align: center;
    border-radius: 0.5rem; 
}

.programs {
    padding-top: 3rem; 
}

.programs .box-container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem; 
}

.programs .box-container .box {
    padding: 2.5rem; 
    background: #fff; 
    border-radius: 0.5rem; 
    border: 0.1rem solid rgba(0, 0, 0, 0.2); 
    box-shadow: var(--box-shadow); 
    position: relative;
    overflow: hidden; 
    text-align: center; 
}

.program-name {
    font-size: 24px; 
}

.fundraiser {
    width: 100%;
    height: 112vh;
    margin: 0; 
    background-color: rgb(202, 0, 0); 
    color: #f5f6f7;
    font-size: 16px; 
    padding-top: 7rem; 
}

.fund-desc {
    margin: 0.5em auto; 
    text-align: center; 
    font-size: 24px; 
}

.fund-req {
    width: 100vw; 
    max-width: 500px; 
    min-width: 300px; 
    margin: 0 auto; 
    padding-bottom: 2em; 
}

fieldset {
    border: none; 
    padding: 1.5rem 0; 
    border-bottom: 3px solid white;
}

fieldset:last-of-type {
    border-bottom: none; 
}

.fund-label {
    display: block;
    margin: 0.5rem 0; 
}

input, textarea, select {
    margin: 8px 0 0 0; 
    width: 100%;
    min-height: 2em; 
}

input, textarea {
    background-color: white; 
    border: 1px solid #0a0a23; 
    color: black; 
    font-size: 16px;  
}

.inline {
    width: unset; 
    margin: 0 0.5em 0 0; 
    vertical-align: middle; 
}

input[type="submit"] {
    display: block; 
    width: 60%;
    margin: 1em auto; 
    height: 2em; 
    font-size: 1.1em; 
    background-color: white;
    border-color: black; 
    min-width: 300px; 
    border-radius: 1rem;
}

.btn-form {
    display: block; 
    width: 60%; 
    margin: 1em auto; 
    height: 2.5em; 
    font-size: 1.8rem; 
    color: white; 
    background: navy; 
    border-radius: 0.5rem; 
    cursor: pointer; 
    padding: 0.8rem 3rem;
}

.btn-form:hover {
    background: black; 
    letter-spacing: 0.1rem;
}

.about {
    padding-top: 10rem; 
    background-color: white; 
}

.about-new {
    display: flex; 
    align-items: center; 
    width: 85%; 
    margin: auto; 
}

.about-new img {
    flex: 0 50%; 
    max-width: 50%; 
    height: auto;
    border: 5px solid rgb(255, 86, 86); 
    border-radius: 1rem; 
}

.aboutus-content {
    padding: 35px; 
}

.aboutus-content h3 {
    color: navy; 
    font-size: 28px; 
    margin: 15px 0px; 
}

.fa-solid .fa-plate-utensils {
    color: black; 
    background-color: black; 
}

.aboutus-content p {
    font-size: 20px; 
    line-height: 1.5;
    margin: 15px 0px; 
}

.about-us {
    text-align: center;
    font-size: 24px;
}

.about-wrapper {
    width: 100%; 
    height: 500px; 
    display: flex; 
    flex-direction: row; 
    gap: 10px; 
    justify-content: center;
    align-items: center; 
    margin-top: 5rem; 
    margin-bottom: 10rem;  
}

.about-heading {
    width: 100%; 
    border-top: 0.5rem solid rgb(202, 0, 0);
    margin-top: 5rem; 
}

.about-container {
    width: 100%; 
    margin: 1.5rem 0; 
}

.locations {
    padding: 2rem 0; 
    width: 500px;
    height: 500px; 
    object-fit: contain;
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.locations img {
    border-radius: 1.5rem; 
    width: 500px; 
    height: 500px; 
}

.copyright-container {
    width: 100%; 
    margin: 25px 0; 
    border-top: 0.5rem solid rgb(202, 0, 0);
    border-bottom: 0.5rem solid rgb(202, 0, 0);
}

.copyright-title {
    text-align: center; 
    font-size: 30px; 
    font-weight: 700;
}

.copyright-subtitle {
    text-align: center;
    font-size: 28px;
    font-weight: 600; 
    color: rgb(202, 0, 0);
    margin-top: 1.5rem; 
}

.creator-title {
    width: 100%; 
    margin-top: 25px; 
    padding-bottom: 0;
    margin-bottom: 0;
}

.creator-container {
    width: 100%; 
    height: 500px; 
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center; 
    margin-top: 0; 
}

.card {
    position: relative;
    width: 300px; 
    height: 350px; 
    background: #fff; 
    transform-style: preserve-3d;
    transform: perspective(1000px); 
    box-shadow: 10px 20px 40px rgba(0,0,0,0.25); 
    transition: 1s; 
    margin-right: 35rem; 
}

.card:hover {
    transform: translateX(50%); 
}

.card .imgBox {
    position: relative;
    width: 100%; 
    height: 100%; 
    z-index: 1; 
    transform-origin: left; 
    transform-style: preserve-3d;
    background: #000; 
    transition: 1s; 
    box-shadow: 10px 20px 40px rgba(0,0,0,0.25); 
}

.card:hover .imgBox {
    transform: rotateY(-180deg);
}

.card .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.card .imgBox img:nth-child(2) {
    transform: rotateY(180deg);
}

.card .details {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    padding: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .details .card-content {
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
}

.card .details .card-content h2 {
    text-align: center; 
    font-size: 28px; 
    font-weight: 700; 
    line-height: 1em; 
}

.card .details .card-content h2 span {
    color:rgb(202, 0, 0); 
    font-size: 0.8em; 
}

.card .details .card-content .card-desc {
    position: relative;
    display: flex;
    margin-top: 10px; 
}

.card .details .card-content .card-desc p {
    display: inline-block;
    font-size: 18px;  
    text-align: center;
}

.card2 {
    position: relative;
    width: 300px; 
    height: 350px; 
    background: #fff; 
    transform-style: preserve-3d;
    transform: perspective(1000px); 
    box-shadow: 10px 20px 40px rgba(0,0,0,0.25); 
    transition: 1s; 
    margin-right: 22rem; 
}

.card2:hover {
    transform: translateX(50%); 
}

.card2 .imgBox {
    position: relative;
    width: 100%; 
    height: 100%; 
    z-index: 1; 
    transform-origin: left; 
    transform-style: preserve-3d;
    background: #000; 
    transition: 1s; 
    box-shadow: 10px 20px 40px rgba(0,0,0,0.25); 
}

.card2:hover .imgBox {
    transform: rotateY(-180deg);
}

.card2 .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.card2 .imgBox img:nth-child(2) {
    transform: rotateY(180deg);
}

.card2 .details {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    padding: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2 .details .card-content {
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
}

.card2 .details .card-content h2 {
    text-align: center; 
    font-size: 28px; 
    font-weight: 700; 
    line-height: 1em; 
}

.card2 .details .card-content h2 span {
    color:rgb(202, 0, 0); 
    font-size: 0.8em; 
}

.card2 .details .card-content .card-desc {
    position: relative;
    display: flex;
    margin-top: 10px; 
}

.card2 .details .card-content .card-desc p {
    display: inline-block;
    font-size: 18px;  
    text-align: center;
}

.card3 {
    position: relative;
    width: 300px; 
    height: 350px; 
    background: #fff; 
    transform-style: preserve-3d;
    transform: perspective(1000px); 
    box-shadow: 10px 20px 40px rgba(0,0,0,0.25); 
    transition: 1s;  
    margin-left: 14rem;  
}

.card3:hover {
    transform: translateX(50%); 
}

.card3 .imgBox {
    position: relative;
    width: 100%; 
    height: 100%; 
    z-index: 1; 
    transform-origin: left; 
    transform-style: preserve-3d;
    background: #000; 
    transition: 1s; 
    box-shadow: 10px 20px 40px rgba(0,0,0,0.25); 
}

.card3:hover .imgBox {
    transform: rotateY(-180deg);
}

.card3 .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.card3 .imgBox img:nth-child(2) {
    transform: rotateY(180deg);
}

.card3 .details {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    padding: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.card3 .details .card-content {
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
}

.card3 .details .card-content h2 {
    text-align: center; 
    font-size: 28px; 
    font-weight: 700; 
    line-height: 1em; 
}

.card3 .details .card-content h2 span {
    color:rgb(202, 0, 0); 
    font-size: 0.8em; 
}

.card3 .details .card-content .card-desc {
    position: relative;
    display: flex;
    margin-top: 10px; 
}

.card3 .details .card-content .card-desc p {
    display: inline-block;
    font-size: 18px;  
    text-align: center;
}

.contact-info {
    text-align: center; 
    font-size: 24px; 
    font-weight: 600; 
    font-weight: 600; 
    margin: 4px 0;
}

.loader-container {
    position: fixed; 
    top: 0; 
    left: 0; 
    height: 100%;
    width: 100%;
    z-index: 10000; 
    background: white; 
    display: flex; 
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.loader-container img {
    width: 35rem; 
}

.loader-container.fade-out {
    top: 110%; 
    opacity: 0; 
}

.slogan-section {
    margin: 0 0.5rem;
    background-color: white;
    border-top: 0.2rem solid rgba(0, 0, 0, 0.2);
}

.slogan-section .row {
    display: flex; 
    flex-wrap: wrap; 
    gap: 1.5rem; 
    align-items: center; 
}

.slogan-section .row .image {
    flex: 1 1 45rem; 
    height: 100%;
    margin-right: 5px; 
}

.slogan-section .row .image video {
    width: 100%; 
    border-radius: 0.5rem; 
    height: 100%; 
    border: 0.5rem solid black; 
}

.slogan-section .row .content {
    flex: 1 1 45rem; 
    width: 100%; 
}

.slogan-section .row .content h3{
    color: rgb(202, 0, 0); 
    font-size: 1.5rem; 
    padding: 0.5rem 0; 
    line-height: 2;
}

.slogan-section .row .content .icons-container {
    display: flex; 
    gap: 1rem; 
    flex-wrap: wrap; 
    padding: 1rem 0; 
    margin-top: 0.5rem; 
}

.slogan-section .row .content .icons-container .icons {
    background: #eee; 
    border-radius: 0.5rem; 
    border: 0.1rem solid rgba(0, 0, 0, 0.2); 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 1rem; 
    flex: 1 1 17rem; 
    padding: 1.5rem 1rem; 
}

.slogan-section .row .content .icons-container .icons i {
    font-size: 2.5rem; 
    color:black; 
}

.slogan-section .row .content .icons-container .icons span {
    font-size: 1.5rem; 
    color:black; 
}

.slogan-section .row .content p{
    color: black; 
    font-size: 3.5rem; 
    padding: 0.5rem 0; 
}

.review {
    background-color: white;
}

.review .slide { 
    padding: 2rem; 
    box-shadow: var(--box-shadow);
    border: 0.1rem solid rgba(0, 0, 0, 0.2); 
    border-radius: 0.5rem; 
    position: relative; 
    background-color: white;
}

.review .slide .fa-quote-right {
    position: absolute; 
    top: 2rem;
    right: 2rem; 
    font-size: 6rem; 
    color: black; 
}

.review .slide .customer {
    display: flex; 
    gap: 1.5rem; 
    align-items: center; 
    padding-bottom: 1.5rem; 
}

.review .slide .customer img {
    height: 7rem; 
    width: 7rem;
    border-radius: 50%; 
    object-fit: cover; 
}

.review .slide .customer h3 {
    color: black; 
    font-size: 2rem; 
    padding-bottom: 0.5rem; 
}

.review .slide .customer i {
    font-size: 1.5rem; 
    color: black; 
}

.review .slide p {
    font-size: 2.5rem; 
    line-height: 1.8; 
    color: black; 
    height: 40rem; 
}

.review-box-container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem; 
}

.review-box-container .box {
    margin: 5px 0; 
}

.footer {
    background-color: white;
    border-top: 0.5rem solid rgb(202, 0, 0); 
}

.footer .box-container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem; 
}

.footer .box-container .box h3{
    padding: 0.5rem 0; 
    font-size: 2.5rem; 
    color: black; 
}

.footer .box-container .box a {
    display: block; 
    padding: 0.5rem 0; 
    font-size: 1.5rem; 
    color: navy; 
}

.footer .box-container .box a:hover {
    color:rgb(202, 0, 0);
    text-decoration: underline;
}

.footer .copyright {
    text-align: center;
    border-top: 0.3rem solid rgb(202, 0, 0); 
    font-size: 2rem; 
    color: black; 
    padding: 0.5rem; 
    padding-top: 1.5rem; 
    margin-top: 1.5rem; 
}

.footer .copyright span {
    color:rgb(202, 0, 0);
}

.optionalParent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionalParent .brandingLogo {
    transform: translate(40px, 0px);
}

.sub-container {
    background: white;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 8px; 
    border: 0.3rem solid black; 
    padding: 30px; 
    width: 100%;
    z-index: 1;
}

.sub-container #mc_embed_signup h2 {
    font-size: 28px; 
    padding-bottom: 1rem; 
    margin-bottom: 5px; 
}

.sub-container #mc_embed_signup label{
    font-size: 20px; 
    margin-top: 1rem; 
}

.sub-container input {
    padding: 1rem 0; 
}

.sub-container .asterisk {
    color: red;
}

.sub-container .button {
    background:rgb(255, 86, 86);
    color: black; 
    font-size: 19px; 
    font-weight: 500; 
    padding: 0px; 
    cursor: pointer;
}

.cart {
    position: fixed; 
    top: 0; 
    right: -100%;
    width: 400px; 
    min-height: 100vh;
    padding: 20px; 
    background: white; 
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%); 
    transition: 0.3s; 
}

.cart.active {
    right: 0; 
}

.cart-title {
    text-align: center;
    font-size: 1.5rem; 
    font-weight: 600; 
    margin-top: 2rem; 
}

.cart-box {
    display: grid; 
    grid-template-columns: 32% 50% 18%;
    align-items: center; 
    gap: 1rem; 
    margin-top: 1rem; 
}

.cart-img {
    width: 100px; 
    height: 100px; 
    object-fit: contain; 
    padding: 10px; 
}

.detail-box {
    display: grid; 
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1.8rem; 
    text-transform: uppercase; 
}

.cart-price {
    font-size: 1.4rem; 
    font-weight: 500; 
}

.cart-quantity {
    border: 1px solid black; 
    outline-color: rgb(202, 0, 0); 
    width: 4rem; 
    text-align: center;
    font-size: 1.5rem; 
}

.cart-remove {
    font-size: 18px; 
    color: black; 
    cursor: pointer; 
}

.total {
    display: flex; 
    justify-content: flex-end; 
    margin-top: 1.5rem; 
    border: 1px solid black;
}

.total-title {
    font-size: 1.5rem; 
    font-weight: 600; 
}

.total-price {
    margin-left: 0.5rem; 
    margin-right: 5px; 
    font-size: 1.5rem; 
}

.checkout-box {
    width: 100%; 
    margin-top: 1rem; 
    border-top: 3px solid black; 
    border-bottom: 3px solid black; 
}

.checkout-desc {
    margin-top: 10px; 
    display: block; 
    color:rgb(202, 0, 0); 
    font-size: 14px; 
}

.checkout-input {
    width: 100%; 
    border: none; 
    border-bottom: 1px solid #ccc; 
    outline: none;
}

.invalid {
    border: 1px solid red; 
}

.error-message {
    color: red; 
    font-size: 18px; 
    display: none; 
}

.error-message.active {
    display: block; 
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 1.5rem auto; 
    padding: 12px 20px; 
    border: none; 
    background: rgb(202, 0, 0); 
    color: white; 
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;  
}

.btn-buy:hover {
    background: black; 
}

#close-cart {
    position: absolute; 
    top: 1rem;
    right: 0.8rem; 
    font-size: 2rem; 
    color: black; 
    cursor: pointer; 
}

.cart-nav {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    padding: 20px 0; 
}

.cart-container {
    max-width: 1068px; 
    margin: auto;
    width: 100%;  
}

.contact-box {
    background: white; 
    display: flex; 
}

.contact-container {
    width: 80%;
    margin: 50px auto; 
    padding-top: 15rem; 
}

.contact-left {
    flex-basis: 55%; 
    padding: 40px 60px; 
    border: 1px solid black;
    border-radius: 0.5rem; 
}

.contact-right {
    flex-basis: 45%; 
    padding: 30px; 
    background-color:rgb(202, 0, 0);
    color: white; 
}

.contact-title {
    margin-bottom: 10px; 
    font-size: 28px; 
}

.contact-subtitle {
    margin-bottom: 40px; 
    font-size: 22px; 
}

.input-row {
    display: flex; 
    justify-content: space-between;
    margin: 20px 0; 
}

.input-row .input-group {
    flex-basis: 45%; 
}

.contact-input {
    width: 100%; 
    border: none; 
    border-bottom: 1px solid #ccc; 
    outline: none; 
    padding: 5px; 
}

.issue-desc {
    width: 100%; 
    border: 1px solid #ccc; 
    outline: none; 
    padding: 10px; 
    box-sizing: border-box; 
}

.contact-desc {
    margin-bottom: 6px; 
    display: block; 
    color:rgb(202, 0, 0); 
    font-size: 18px; 
}

.contact-submit {
    background: navy;
    width: 100px; 
    border: none; 
    outline: none; 
    color: white; 
    cursor: pointer; 
    height: 35px; 
    border-radius: 0.5rem; 
    margin-top: 20px; 
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3); 
}

.contact-submit:hover {
    background: rgb(202, 0, 0); 
    letter-spacing: 0.1rem;
}

.contact-subject {
    color: rgb(202, 0, 0); 
    font-weight: 600;
    margin-bottom: 30px; 
    font-size: 20px; 
}

.subject-right {
    font-weight: 600;
    margin-bottom: 10px; 
    font-size: 20px; 
}

.logo-img {
    width: 200px;
    height: 125px; 
    object-fit: contain;
}

.links {
    font-size: 18px; 
    color: white; 
}

.links:hover {
    color:navy;
    text-decoration: underline;
}

#wheel {
    position: relative;
    height: 500px;
    width: 500px;
    overflow: hidden;
    display: grid;
    place-items: center;
    transform: translate(50px, 0);
  }
  
  /* Hub styles */
  #hub {
    width: 200px;
    height: 200px;
    border-radius: 100%;
  
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(12px); 
  
    color: white;
    font-size: 60px;
    font-weight: bold;
    display: grid;
    place-items: center;
  
    position: relative;
    z-index: 1;
  }
  
  #hub img {
    object-fit: contain;
    width: 150px; 
    height: 150px; 
  }

  /* Spoke styles */
  #spoke-wrapper {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
  
    animation: spin-wheel 14s ease-in-out infinite;
  }
  
  .spoke {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  
    display: grid;
    place-items: center;
  
    animation: spin-spokes 14s ease-in-out infinite,
      scaler 14s ease-in-out infinite;
  }
  
  .spoke img {
    width: 130px; 
    height: 130px; 
  }

  .spoke svg {
    width: 90px;
  }
  
  /* 
  --- TO POSITION STUFF AROUND A CENTER POINT ---
      x = r * cos(angle)
      y = r * sin(angle)
  */
  
  #spoke-1 {
    background-image: linear-gradient(-44deg, rgba(244, 230, 230, 0.6) 2%, rgba(255, 255, 255, 0.6));
  
    margin-left: 150px;
    margin-top: 0px;
  
    animation-delay: 0s, calc(-2.333333s * 5);
  }
  
  #spoke-2 {
    background-image: linear-gradient(-44deg, rgba(244, 230, 230, 0.6) 2%, rgba(255, 255, 255, 0.6));
    margin-left: 75px;
    margin-top: 129px;
  
    animation-delay: 0s, calc(-2.333333s * 0);
  }
  
  #spoke-3 {
    background-image: linear-gradient(-44deg, rgba(244, 230, 230, 0.6) 2%, rgba(255, 255, 255, 0.6));
    margin-left: -75px;
    margin-top: 129px;
  
    animation-delay: 0s, calc(-2.333333s * 1);
  }
  
  #spoke-4 {
    background-image: linear-gradient(-44deg, rgba(244, 230, 230, 0.6) 2%, rgba(255, 255, 255, 0.6));
    margin-left: -150px;
    margin-top: 0px;
  
    animation-delay: 0s, calc(-2.333333s * 2);
  }
  
  #spoke-5 {
    background-image: linear-gradient(-44deg, rgba(244, 230, 230, 0.6) 2%, rgba(255, 255, 255, 0.6));
    margin-left: -75px;
    margin-top: -129px;
  
    animation-delay: 0s, calc(-2.333333s * 3);
  }
  
  #spoke-5 img {
    object-fit: contain; 
  }

  #spoke-6 {
    background-image: linear-gradient(-44deg, rgba(244, 230, 230, 0.6) 2%, rgba(255, 255, 255, 0.6));
    

    margin-left: 75px;
    margin-top: -129px;
  
    animation-delay: 0s, calc(-2.333333s * 4);
  }
  
  /* animations */
  @keyframes spin-wheel {
    0% {
      transform: rotate(0);
    }
    5% {
      transform: rotate(0);
    }
  
    16.67% {
      transform: rotate(60deg);
    }
    21.67% {
      transform: rotate(60deg);
    }
  
    33.33% {
      transform: rotate(120deg);
    }
    38.33% {
      transform: rotate(120deg);
    }
  
    50% {
      transform: rotate(180deg);
    }
    55% {
      transform: rotate(180deg);
    }
  
    66.67% {
      transform: rotate(240deg);
    }
    71.67% {
      transform: rotate(240deg);
    }
  
    83.33% {
      transform: rotate(300deg);
    }
    88.33% {
      transform: rotate(300deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin-spokes {
    0% {
      transform: rotate(0);
    }
    5% {
      transform: rotate(0);
    }
  
    16.67% {
      transform: rotate(-60deg);
    }
    21.67% {
      transform: rotate(-60deg);
    }
  
    33.33% {
      transform: rotate(-120deg);
    }
    38.33% {
      transform: rotate(-120deg);
    }
  
    50% {
      transform: rotate(-180deg);
    }
    55% {
      transform: rotate(-180deg);
    }
  
    66.67% {
      transform: rotate(-240deg);
    }
    71.67% {
      transform: rotate(-240deg);
    }
  
    83.33% {
      transform: rotate(-300deg);
    }
    88.33% {
      transform: rotate(-300deg);
    }
  
    100% {
      transform: rotate(-360deg);
    }
  }
  
  @keyframes scaler {
    0% {
      scale: 1.15;
    }
    5% {
      scale: 1.15;
    }
  
    16.67% {
      scale: 0.85;
    }
    21.67% {
      scale: 0.85;
    }
  
    33.33% {
      scale: 0.75;
    }
    38.33% {
      scale: 0.75;
    }
  
    50% {
      scale: 0.675;
    }
    55% {
      scale: 0.675;
    }
  
    66.67% {
      scale: 0.75;
    }
    71.67% {
      scale: 0.75;
    }
  
    83.33% {
      scale: 0.85;
    }
    88.33% {
      scale: 0.85;
    }
  
    100% {
      scale: 1.15;
    }
  }

tr td:first-child {
    padding-right: 20px; 
}

tr td {
    padding-top: 20px; 
}

.fa-money-bill-alt {
    color: rgb(0, 162, 0); 
}

.fa-book-open {
    color: rgb(89, 0, 0);
}

@media (max-width: 1024px) {
    html {
        font-size: 55%; 
    }

    header {
        padding: 1rem 2rem; 
    }
}

@media (max-width: 768px) {
    header .icons #menu-bars {
        display: inline-block; 
    }

    header .navbar {
        position: absolute; 
        top: 100%; 
        left: 0; 
        right: 0; 
        background:whitesmoke;
        border-top: 0.1rem solid rgba(0,0,0,0.2); 
        border-bottom: 0.1rem solid rgba(0,0,0,0.2);
        padding: 1rem;  
        clip-path: polygon(0 0, 100% 0, 0 0); 
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        display: block; 
        padding: 1.5rem; 
        margin: 1rem; 
        font-size: 2rem; 
        background: white; 
    }

    #search-form #search-box{
        width:90%;
        margin:0 1rem;
    }

    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }

    .about-new {
        flex-direction: column; 
    }

    .about-new img {
        flex: 0 100%;
        max-width: 100%; 
    }

    .aboutus-content {
        flex: 0 100%;
        max-width: 100%; 
        padding: 15px; 
    }
}



@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .cart-nav {
        padding: 11px; 
    }
    .cart {
        width: 320px; 
    }
    .dishes .box-container .box img{
        height:auto;
        width: 100%;
    }

    .order form .inputBox .input{
        width:100%;
    }
}

@media (max-width: 360px) {
    .cart {
        width: 280px; 
    }
}